<header class="header">
  <div class="container">
    <div class="header__body">
      <nav>
        <a href="" class="header__logo"
          ><img src="./img/icon/logo.svg" alt=""
        /></a>
        <ul>
          <li>
            <a href="">Про компанію</a>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </li>
          <li><a href="">Портфоліо</a></li>
          <li>
            <a href="">Наші послуги</a>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </li>
          <li>
            <a href="">Галузі</a>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </li>
          <li><a href="">Блог</a></li>
        </ul>

        <ul>
          <li><a href="">UA</a></li>
          <li><a href="">EN</a></li>
        </ul>

        <a href="">Log In / Sign Up</a>
      </nav>
    </div>
  </div>
</header>
