html,
body {
	font-family: var(--font-family);
	color: var(--main-color);
	font-size: 1rem;
	line-height: 1.575rem;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.container {
	max-width: 86.25em;
	padding: 0 2.5em;
	margin: 0 auto;
}

@media screen and (max-width: 1380px) {
	html {
		font-size: 1.16vw;
	}
}
