body {
	/* Colors */
	--main-color: #000028;

	/* Fonts */
	--font-family: "Gilroy", sans-serif;
}

.body-wrapp {
	padding: 6.25rem 0;
}
.sectuon-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 3.12rem;
	&__text {
		width: 46.875rem;
	}
}

.sub-title {
	font-size: 2.25rem;
	font-weight: 600;
	line-height: 2.7rem;
}
.text {
	line-height: 1.75rem;
	font-size: 1.25rem;
}

.btn-def {
	line-height: 1.75rem;
	font-size: 1.25rem;
	display: block;
	padding: 0.75rem 2.25rem;
	color: #fff;
	background-color: #fe7062;
	transition: 150ms all;
	&:hover,
	&:focus {
		background-color: #e05244;
	}
}
.link-def {
	line-height: 1.75rem;
	font-size: 1.25rem;
	width: fit-content;
	display: flex;
	align-items: center;
	gap: 0.75rem;
	padding: 0.75rem 2.25rem;
	color: #000028;
	border: 1px solid #000028;
	transition: 150ms all;
	&:hover,
	&:focus {
		color: #fff;
		background-color: #fe7062;
		border: 1px solid transparent;
	}
}
.link-second {
	line-height: 1.75rem;
	font-size: 1.25rem;
	width: fit-content;
	display: flex;
	align-items: center;
	gap: 0.75rem;
	padding: 0.75rem 2.25rem;
	color: #fff;
	border: 1px solid transparent;
	transition: 150ms all;
	&:hover,
	&:focus {
		border: 1px solid #fff;
	}
}
