<section class="vacancies">
  <div class="container">
    <div class="vacancies__body">
      <a href="#" class="vacancies__back">Всі вакансії</a>
      <div class="vacancies__wrapp">
        <div class="vacancies__content">
          <h2 class="vacancies__title sub-title">
            JavaScript Software Developer
          </h2>

          <div class="vacancies__box">
            <h3 class="vacancies__subtitle">Experience Required:</h3>
            <ul class="vacancies__list">
              <li class="vacancies__item">
                — Expert React with a solid understanding of the render process
                and hooks
              </li>
              <li class="vacancies__item">
                — Building apps with Node.js and TypeScript (we like Next.js)
              </li>
              <li class="vacancies__item">
                — Deploying and maintaining large applications
              </li>
              <li class="vacancies__item">
                — Using various hosting solutions like Vercel, AWS, and Google
                Cloud
              </li>
              <li class="vacancies__item">
                — Expert level experience in HTML/CSS/JS (keyword: «expert»). We
                ❤️ Tailwind.
              </li>
              <li class="vacancies__item">
                — Expert writer that prefers emails to meetings (a default job
                requirement at SKYCATCHFIRE)
              </li>
              <li class="vacancies__item">
                — Portfolio to show you’re a living, breathing developer,
                actively developing websites and apps
              </li>
              <li class="vacancies__item">
                — Detail oriented with the ability to self manage a task from
                start to finish
              </li>
            </ul>
          </div>
          <div class="vacancies__box">
            <h3 class="vacancies__subtitle">Experience Bonus Points:</h3>
            <ul class="vacancies__list">
              <li class="vacancies__item">— Stacks such as Python, PHP,.NET</li>
              <li class="vacancies__item">— React Native</li>
              <li class="vacancies__item">
                — WordPress or other CMS solutions
              </li>
              <li class="vacancies__item">— Multi-tenant architecture</li>
              <li class="vacancies__item">
                — Mad `/giphy` skills on Slack (or a desire to learn)
              </li>
            </ul>
          </div>
          <div class="vacancies__box">
            <h3 class="vacancies__subtitle">Responsibilities:</h3>
            <ul class="vacancies__list">
              <li class="vacancies__item">— Stacks such as Python, PHP,.NET</li>
              <li class="vacancies__item">— React Native</li>
              <li class="vacancies__item">
                — WordPress or other CMS solutions
              </li>
              <li class="vacancies__item">— Multi-tenant architecture</li>
              <li class="vacancies__item">
                — Mad `/giphy` skills on Slack (or a desire to learn)
              </li>
            </ul>
          </div>
        </div>
        <form class="vacancies__form">
          <h3>Apply now</h3>
          <label for="" class="vacancies__label">
            <input
              type="text"
              name=""
              id="vacancies-name"
              class="vacancies__input"
              placeholder="Ваше ім’я*"
            />
          </label>
          <label for="" class="vacancies__label">
            <input
              type="email"
              name=""
              id=""
              class="vacancies__input"
              placeholder="Пошта*"
            />
          </label>
          <label for="" class="vacancies__label">
            <input
              type="number"
              name=""
              id=""
              class="vacancies__input"
              placeholder="Контактний номер*"
            />
          </label>
          <label for="" class="vacancies__label">
            <input
              type="file"
              name=""
              id=""
              class="vacancies__input"
              placeholder="Додайте своє CV"
            />
          </label>
          <button type="submit">Приєднатися до команди</button>
        </form>
      </div>
    </div>
  </div>
</section>
