<div class="recovery">
  <div class="recovery__body">
    <button type="button" class="recovery__close">
      <img src="./img/icon/close.svg" alt="" />
    </button>
    <h2 class="recovery__title">Password recovery</h2>

    <form class="recovery__form">
      <label for="recovery-name">
        <input
          type="email"
          name="recovery-name"
          id="recovery-name"
          placeholder="Пошта*"
        />
      </label>

      <button type="submit" class="recovery__sbm-dec btn-def">
        Надіслати новий пароль
      </button>
      <button type="submit" class="recovery__sbm-mob btn-def">
        Надіслати пароль
      </button>
    </form>
  </div>
</div>
