.header {
	padding: 1.25rem 0;
	background: #000028;

	&__body {
	}
	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.custom-logo-link {
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 6.5625rem;
			height: auto;
			filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
				saturate(7494%) hue-rotate(134deg) brightness(100%) contrast(102%);
		}
	}

	&__menu-list {
		display: flex;
		align-items: center;
		gap: 2.5rem;
	}
	.menu-item-has-children {
		position: relative;
		& > a::after {
			content: "";
			position: absolute;
			top: 50%;
			right: -1.1rem;
			width: 0.75rem;
			height: 0.75rem;
			transition: 250ms all;
			transform: translateY(-50%);
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M5.58607 8.28358L1.60357 4.10383C1.53709 4.03409 1.5 3.94143 1.5 3.84508C1.5 3.74872 1.53709 3.65607 1.60357 3.58633L1.60807 3.58183C1.6403 3.5479 1.6791 3.52089 1.7221 3.50243C1.7651 3.48397 1.8114 3.47445 1.8582 3.47445C1.90499 3.47445 1.9513 3.48397 1.9943 3.50243C2.0373 3.52089 2.07609 3.5479 2.10832 3.58183L5.85832 7.51783L9.60682 3.58183C9.63905 3.5479 9.67785 3.52089 9.72085 3.50243C9.76385 3.48397 9.81015 3.47445 9.85695 3.47445C9.90374 3.47445 9.95005 3.48397 9.99305 3.50243C10.036 3.52089 10.0748 3.5479 10.1071 3.58183L10.1116 3.58633C10.1781 3.65607 10.2151 3.74872 10.2151 3.84508C10.2151 3.94143 10.1781 4.03409 10.1116 4.10383L6.12907 8.28358C6.09405 8.32034 6.05193 8.3496 6.00526 8.3696C5.95859 8.38959 5.90834 8.3999 5.85757 8.3999C5.8068 8.3999 5.75656 8.38959 5.70989 8.3696C5.66322 8.3496 5.62109 8.32034 5.58607 8.28358Z' fill='white'/%3E%3C/svg%3E");
			background-size: 0.75rem;
			background-repeat: no-repeat;
			background-position: center;
		}
		&:hover > a::after {
			transform: translateY(-50%) rotateX(180deg);
		}
	}
	.menu-item {
		position: relative;
		white-space: nowrap;
		z-index: 1;
		transition: 250ms all;
		.sub-menu {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			left: 0;
			top: calc(100% + 0.7rem);
			background-color: #0f0f24;
			display: flex;
			flex-direction: column;
			transition: 250ms all;
			a {
				display: block;
				padding: 0.4rem 1rem;
				&:hover {
					background: rgba(255, 255, 255, 0.1);
				}
			}
		}
		&:hover .header__menu-link {
			color: #91b3fa;
			img {
				transform: rotate3d(1, 0, 0, 180deg);
			}
		}
		&:hover > .sub-menu {
			opacity: 1;
			visibility: visible;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 0.7rem;
				transform: translateY(-100%);
			}
		}
	}
	&__menu-link {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		transition: 250ms all;
		img {
			transition: 250ms all;
			width: 0.9rem;
			height: 0.9rem;
			filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
				saturate(7494%) hue-rotate(134deg) brightness(100%) contrast(102%);
		}
	}

	&__part {
		display: flex;
		align-items: center;
		gap: 2.5rem;
	}
	&__lang-list {
		display: flex;
		align-items: center;
		gap: 1.1rem;
		position: relative;
		&::after {
			content: "";
			background-color: #fff;
			position: absolute;
			width: 0.0625rem;
			height: 1.0625rem;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}
	&__lang-item {
		a {
			color: #fff;
			font-size: 0.875rem;
			line-height: 1.05rem;
			opacity: 0.4;
			transition: 250ms all;
			&:hover {
				opacity: 1;
			}
		}
	}
	&__log {
		flex-shrink: 0;
		border: 1px solid #fff;
		padding: 0.75rem 1.4rem;
		transition: 250ms all;
		&:hover {
			color: #000028;
			background-color: #fff;
		}
	}
}
