<section class="services">
  <div class="container">
    <div class="services__body">
      <div class="services__info sectuon-info">
        <h2 class="services__title sub-title">Наші послуги</h2>
        <p class="services__text sectuon-info__text text">
          Наші досягнення є втіленням не лише нашої роботи, але й нашого
          прагнення до інновацій та високих стандартів у кожному проекті.
        </p>
      </div>
      <ul class="services__list">
        <li class="services__item">
          <div class="services__img-wrapp">
            <img src="./img/services/1.jpg" alt="" class="cover" />
          </div>
          <div class="services__content">
            <h3>International Arms Ukraine</h3>
            <p class="text">
              Magna ullamcorper vel augue laoreet feugiat enim consectetur
              sodales lorem. Tellus feugiat mauris tortor sed et nec felis
              elementum. Tempus egestas auctor ullamcorper auctor vel lacus
              donec.
            </p>
            <a href="#"
              >See Project Details<img src="./img/icon/right-bolt.svg" alt=""
            /></a>
          </div>
        </li>
        <li class="services__item">
          <div class="services__content">
            <h3>Normarin</h3>
            <p class="text">
              Magna ullamcorper vel augue laoreet feugiat enim consectetur
              sodales lorem. Tellus feugiat mauris tortor sed et nec felis
              elementum. Tempus egestas auctor ullamcorper auctor vel lacus
              donec.
            </p>
            <a href="#"
              >See Project Details<img src="./img/icon/right-bolt.svg" alt=""
            /></a>
          </div>
          <div class="services__img-wrapp">
            <img src="./img/services/2.jpg" alt="" class="cover" />
          </div>
        </li>
        <li class="services__item">
          <div class="services__img-wrapp">
            <img src="./img/services/3.jpg" alt="" class="cover" />
          </div>
          <div class="services__content">
            <h3>Aicore Consumer</h3>
            <p class="text">
              Magna ullamcorper vel augue laoreet feugiat enim consectetur
              sodales lorem. Tellus feugiat mauris tortor sed et nec felis
              elementum. Tempus egestas auctor ullamcorper auctor vel lacus
              donec.
            </p>
            <a href="#"
              >See Project Details<img src="./img/icon/right-bolt.svg" alt=""
            /></a>
          </div>
        </li>
      </ul>
      <div class="services__link">
        <button type="button" class="btn-def services-link-page">
          Замовити консультацію
        </button>
      </div>
    </div>
  </div>
</section>
