<section class="about">
  <div class="container">
    <div class="about__body body-wrapp">
      <div class="about__content">
        <h2 class="about__title sub-title">Про нас</h2>
        <p class="about__text text">
          <span>
            В Fleximp ми надаємо інноваційні рішення для бізнесу, які
            допомагають клієнтам зростати та розвиватися.
          </span>
          Наша експертиза охоплює різні сфери, зокрема фармацевтику, логістику,
          електронну комерцію та юридичні аспекти в фармацевтичній галузі,
          та розробка сайти для некомерційних та державних установ.
          Ми забезпечуємо комплексні послуги, які відповідають найвищим
          стандартам якості та ефективності.
        </p>
        <a href="" class="about__link link-def"
          >Дізнатися більше<img src="./img/icon/right.svg" alt=""
        /></a>
      </div>
      <ul class="about__list">
        <li class="about__item">
          <span></span>
          <p>Діджитал технології</p>
          <div>
            <h3>Діджитал технології</h3>
            <p>
              Наші експерти розробляють інтегровані стратегії, що охоплюють усі
              аспекти діджитал маркетингу, включаючи SEO, PPC та інше.
            </p>
          </div>
        </li>
        <li class="about__item">
          <span></span>
          <p>Діджитал технології</p>
        </li>
        <li class="about__item">
          <span></span>
          <p>Задоволення клієнта</p>
        </li>
        <li class="about__item">
          <span></span>
          <p>Професійна відповідальність</p>
        </li>
      </ul>
    </div>
  </div>
</section>
