<section class="customers body-wrapp">
  <div class="container">
    <div class="customers__body">
      <h2 class="customers_title sub-title">Наші клієнти</h2>
      <ul class="customers__list">
        <li class="customers__item">
          <img src="./img/company-logo/1.svg" alt="" class="contain" />
        </li>
        <li class="customers__item">
          <img src="./img/company-logo/2.svg" alt="" class="contain" />
        </li>
        <li class="customers__item">
          <img src="./img/company-logo/3.svg" alt="" class="contain" />
        </li>
        <li class="customers__item">
          <img src="./img/company-logo/4.svg" alt="" class="contain" />
        </li>
        <li class="customers__item">
          <img src="./img/company-logo/5.svg" alt="" class="contain" />
        </li>
        <li class="customers__item">
          <img src="./img/company-logo/1.svg" alt="" class="contain" />
        </li>
        <li class="customers__item">
          <img src="./img/company-logo/2.svg" alt="" class="contain" />
        </li>
        <li class="customers__item">
          <img src="./img/company-logo/3.svg" alt="" class="contain" />
        </li>
        <li class="customers__item">
          <img src="./img/company-logo/4.svg" alt="" class="contain" />
        </li>
        <li class="customers__item">
          <img src="./img/company-logo/5.svg" alt="" class="contain" />
        </li>
      </ul>
    </div>
  </div>
</section>
