<section class="services body-wrapp">
  <div class="container">
    <div class="services__body">
      <div class="services__info">
        <h2 class="services__tilte sub-title">Наші послуги</h2>
        <p class="services__text text">
          У Fleximp ми пропонуємо широкий спектр послуг, спрямованих
          на забезпечення успіху вашого бізнесу в цифровому просторі. Наші
          послуги включають:
        </p>
      </div>
      <div class="services__wrapp">
        <div class="services__img-wrapp">
          <img src="./img/services/1.jpg" alt="" class="cover" />
        </div>
        <div class="services__content">
          <ul class="services__list">
            <li class="services__item">
              <span>01</span>
              <div class="services__box">
                <h3>Розробка веб-сайтів</h3>
                <p class="text">
                  Ми створюємо веб-сайти, які не лише відображають унікальний
                  стиль вашого бренду, але й забезпечують максимальну зручність
                  для користувачів та високу ефективність для досягнення ваших
                  цілей.
                </p>
              </div>
              <img src="./img/icon/right.svg" alt="" />
            </li>
            <li class="services__item">
              <span>02</span>
              <div class="services__box">
                <h3>Діджитал маркетинг</h3>
                <p class="text">
                  Наші експерти розробляють інтегровані стратегії, що охоплюють
                  усі аспекти діджитал маркетингу, включаючи SEO, PPC та інше.
                  Ми допомагаємо вам залучати цільову аудиторію.
                </p>
              </div>
              <img src="./img/icon/right.svg" alt="" />
            </li>
            <li class="services__item">
              <span>03</span>
              <div class="services__box">
                <h3>Бізнес-аналітика (BI)</h3>
                <p class="text">
                  Ми реалізуємо потужні BI-інструменти, які дозволяють
                  вам глибше розуміти ваш бізнес та досягати максимального
                  успіху.
                </p>
              </div>
              <img src="./img/icon/right.svg" alt="" />
            </li>
            <li class="services__item">
              <span>04</span>
              <div class="services__box">
                <h3>Консалтинг</h3>
                <p class="text">
                  Ми надаємо експертні поради та підтримку у всіх аспектах
                  цифрової трансформації вашого бізнесу.
                </p>
              </div>
              <img src="./img/icon/right.svg" alt="" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
