.customers {
	&_title {
	}
	&__body {
		display: flex;
		justify-content: space-between;
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(5, 8.5625rem);
		grid-template-rows: repeat(2, 7.125rem);
		gap: 3.75rem;
	}
	&__item {
		position: relative;
	}
}

@media screen and (max-width: 960px) {
	.customers {
		&__body {
			flex-direction: column;
			justify-content: start;
			gap: 1.875rem;
		}
		&__list {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(2, 1fr);
			gap: 1rem;
		}
		&__item {
			position: relative;
			width: 100%;
			padding-top: 80%;
		}
	}
}
@media screen and (max-width: 680px) {
	.customers {
	}
}
@media screen and (max-width: 500px) {
	.customers {
	}
}
