.services {
	&__body {
	}
	&__info {
		display: flex;
		justify-content: space-between;
		margin-bottom: 3.12rem;
	}
	&__tilte {
	}
	&__text {
		width: 46.875rem;
	}
	&__wrapp {
		display: flex;
		justify-content: space-between;
		align-items: start;
	}
	&__img-wrapp {
		flex-shrink: 0;
		width: 29.375rem;
		height: 28.5rem;
		position: relative;
	}
	&__content {
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
		width: 46.875rem;
	}
	&__item {
		img {
			width: 1.875rem;
			height: 1.875rem;
		}
	}
	&__box {
		h3 {
			font-size: 1.5rem;
			font-weight: 500;
			line-height: 1.8rem;
		}
		p {
			padding-top: 0.75em;
			color: rgba(0, 0, 40, 0.7);
		}
	}
}

.ac {
	margin: 0 !important;
	border: none !important;
}
.ac-trigger {
	padding: 1.5rem 2.5rem !important;
	font: unset !important;
	color: inherit !important;
	margin: 0 !important;
	background-color: #dee8fe !important;
	display: flex !important;
	gap: 1.25rem !important;
	span {
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 1.8rem;
	}
}
.ac-trigger::after {
	display: none;
}
